#content {
    margin-top:180px !important; 
    position:absolute; 
    top:0px; 
    left:0px; 
    right:0px; 
    bottom:0px;
}

#frame {
    position: absolute; 
    border:0; 
    height:100%; 
    width:100%;
}