


/* ------------- */
/* ---DESIGNS--- */
/* ------------- */

/* Farbbänder */

.color-band {
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: -15px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 
                0px -2px 4px rgba(0, 0, 0, 1);
    z-index: 10;
}



/* --------------- */
/* ---MAIN MENU--- */
/* --------------- */

#menu-container {
    position: relative;
    display: flex;
    justify-content: flex-end; 
    padding: 20px 20px; 
}

/* Burger-Icon */
.burger-menu {
    position: absolute; 
    top: 10px;          
    right: 20px;        
    width: 35px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 9999;
}

/* Burger-Icon Linien */
.burger-menu div {
    width: 100%;
    height: 4px;
    background-color: white;
    transition: all 0.3s ease;
}

/* Menü Styling */
.menu {
    position: fixed;
    top: 0;
    right: -20%;
    width: 20%;
    height: 100vh;
    background-color: var(--hellgrau);
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    padding: 20px;
    overflow-y: auto;
    z-index: 9998;
}

/* Menü sichtbar machen */
.menu.open {
    right: 0;
}

/* Menülisten Styling */
.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Erster Menüebene */
.menu-list > li > a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    display: block;
    padding: 10px 0;
}

/* Untermenü */
.menu-list .sub-menu {
    display: none;
    padding-left: 15px;
}

.menu-list li.has-submenu > a::after {
    content: " ▼";
    font-size: 0.8rem;
}

.menu-list li.open > .sub-menu {
    display: block;
}

/* Footer */

#main-footer {
    background-color: var(--hellgrau);
    color: white;
    padding: 20px 0;
    text-align: center;
}

#main-footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#footer-color-band {
    margin-top: -5.3vh;
    transform: skewY(-1deg);

}

#footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#footer-links ul li {
    display: inline-block;
}

#footer-links a {
    color: var(--kohlenschwarz);
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
}

#footer-links a img {
    width: 24px;
    height: 24px;
}

#footer-links a:hover {
    color: var(--technikblau);
    text-decoration: underline;
}

#footer-copyright {
    font-size: 0.875rem;
    margin-top: 3vh;
    opacity: 0.8;
}

/* ------------ */
/* LANDING PAGE */
/* ------------ */

/* Hero-Banner */

#hero-banner {
    background-image: url('../public/img/hero-banner.jpg');
    background-size: cover;
    background-position: center;
    height: 35vh; 
    display: flex;
    position: relative;
    overflow: visible;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.banner-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
    display: block;
}


#hero-banner-logo {
    height: 25%;
    position: absolute;
    top: 25%; 
    transform: translateY(-50%); 
}

.banner-buttons {
    position: absolute;
    top: 3%;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 10;
}

.banner-button {
    background-color: transparent !important;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease;
    padding: 0;
    height: 30px;
    display: flex;
    align-items: center;
    color: var(--kohlenschwarz);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;

}

.banner-button:hover {
    text-decoration: none;
    background-color: var(--technikblau)
}

/* #join-button, #donate-button {
    background-color: transparent !important;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease;
    padding: 0;
    height: 30px;
} */

.banner-btn-icon {
    background-color: var(--b7-gelb);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.banner-btn-label {
    background-color: var(--b7-gelb);
    padding: 10px;
    text-align: center;
    flex-grow: 1;
}

.banner-btn-gap {
    width: 5px;
}

#join-button:hover, #donate-button:hover {
    background-color: var(--technikblau);
}

#hero-sub-banner-1 {
    background-color: var(--technikblau);
    width: 100%;
    height: 50px;
    overflow: visible;
    transform: skewY(2deg);
    margin-top: 23vh;
    padding-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--kohlenschwarz);
    font-size: 1.6rem;
    font-weight: 900;
}

#hero-sub-banner-2 {
    background-color: var(--signalrot);
    width: 100%;
    height: 50px;
    overflow: visible;
    transform: skewY(-1deg);
    margin-top: 5vh;
    padding-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--kohlenschwarz);
    font-size: 1.6rem;
    font-weight: 900;
}

.page .entry-title {
    display: none;
}

#landing-page-content {
    padding: 20px;
    background-color: var(--dunkelgrau);
    color:white;

    box-shadow: none;
}


/* Teaser-Boxen */

.teaser-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px;
}

#teaser {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    margin: 20px;
    grid-template-rows: auto auto;
}

.teaser-box {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 99%; 
    background-color: var(--hellgrau);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.teaser-box a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}

.teaser-box-content {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

#teaser-box1 {
    background-image: url('../public/img/teaser/t1-vision.jpg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

#teaser-box2 {
    background-image: url('../public/img/teaser/t2-umbau.jpg');
}

#teaser-box3 {
    background-image: url('../public/img/teaser/t3-veranstaltungen.jpg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

#teaser-box4 {
    background-image: url('../public/img/teaser/t4-fotogallerie.jpg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

#teaser-box5 {
    background-image: url('../public/img/teaser/t5-rundgang.PNG');
}

#teaser-box6 {
    background-image: url('../public/img/teaser/t6-kooperation.jpg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

/* ----------------- */
/* ---Site Layout--- */
/* ----------------- */

#page-banner {
    background-image: url('../public/img/hero-banner.jpg');
    background-size: cover;
    background-position: center;
    height: 15vh; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

#page-banner a:hover {
    text-decoration: none;
}

#page-banner-content h1 {
    font-size: 0.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

#page-banner-content p {
    font-size: 1.4rem;
    font-weight: 400;
}

#page-sub-banner-1 {
    background-color: var(--signalrot);
    width: 100%;
    height: 50px;
    overflow: visible;
    transform: skewY(1deg);
    margin-top: 12vh;
    padding-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--kohlenschwarz);
    font-size: 1.2rem;
    font-weight: bold;
}

#page-sub-banner-2 {
    background-color: var(--zukunftsgruen);
    width: 100%;
    height: 50px;
    overflow: visible;
    transform: skewY(0deg);
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--kohlenschwarz);
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

/* ---------------- */
/* ---CONTENT--- */
/* ---------------- */

.content-container {
    text-align: center;
    max-width: 1200px;
    background-color: var(--waschkauenweiss);
    margin: 0 auto;
    padding: 50px 50px;
    position: relative;
    overflow: visible;
    color: var(--kohlenschwarz);
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);;
}

.content-container ul {
    margin-left: 5%
}

.content-container li::marker {
    color: black; /* Fallback */
  }
  
  .marker-blau::marker {
    color: var(--technikblau);
  }
  
  .marker-rot::marker {
    color: var(--signalrot);
  }
  
  .marker-gelb::marker {
    color: var(--b7-gelb);
  }
  
  .marker-gruen::marker {
    color: var(--zukunftsgrün);
  }
  

.color-box {
    display: inline-block;
    position: relative;
    left: -10px;
    top: 0.2rem;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.block-heading {
    text-align: left;
    position: relative;
    padding-left: 0%;
    margin-left: -52px

}

/* ----------------- */
/* RESPONSIVE DESIGN */
/* ----------------- */

@media (max-width: 768px) {
    .content-container {
        max-width: 90%;  
        padding: 0 10px; 
    }
    #teaser {
        grid-template-columns: 1fr 1fr;
    }
    .partner-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .content-container {
        max-width: 100%;  
    }
    #teaser {
        grid-template-columns: 1fr; 
    }
    .partner-grid {
        grid-template-columns: 1fr;
    }
}


#myCanvas {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 10;
    width: 200px;
    height: 200px;
}

#footer-color-band {
  background-color: var(--technikblau);
}